#video{

    width:100%;
    height:500px;
    border:none;
}
.travel_mainDiv
{
    border:1px solid  lightgrey ;
}
.travel_mainDiv img
{
    height:500px;
    width: 700px; 
}
.travel_mainDiv hs , .travel_mainDiv p
{
    margin: 20px;
}
